{{#each reviews}}
<div class="row">
  <div class="col s12 m6">
   <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{imgUrl}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{company}}</span>
      <p><a href="/place/{{category}}/{{id}}" class="waves-effect waves-light btn reviewBtn"><i class="material-icons left fa fa-comments-o"></i>Reviews</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{company}}<i class="material-icons right">x</i></span>
        <h5>Category:</h5> {{category}} </p>
        <h5>Description:</h5> {{ description }} </p>
        <h5>Address:</h5> {{ address }} </p>
        <h5>Telephone:</h5> {{ telephone }} </p>
        
        <a href="/place/{{category}}/{{id}}" class="waves-effect waves-light btn reviewBtn"><i class="material-icons left fa fa-comments-o"></i>Reviews</a>

        <a href="/deleteplace/{{id}}" class="waves-effect waves-light btn reviewBtn"><i class="material-icons left fa fa-trash-o"></i>Delete Review</a>
    </div>
  </div>

  </div>
</div>
{{/each}}




